@code {
    [Parameter]
    public string ImageUrl { get; set; } = "";

    [Parameter]
    public string ImageAlt { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Description { get; set; } = "";

    [Parameter]
    public string Price { get; set; } = "";

    [Parameter]
    public string DetailsUrl { get; set; } = "";
}

<div class="bg-[#1c1c18] rounded-lg overflow-hidden shadow-lg border border-gray-700 flex flex-col text-white h-full min-h-[700px]">
  <div class="overflow-hidden h-80 sm:h-96 lg:h-[28rem]">
    <img
      src="@ImageUrl"
      alt="@ImageAlt"
      class="w-full h-full object-cover" />
  </div>
  <div class="p-5 md:p-7 flex flex-col flex-grow">
    <h3 class="text-xl font-bold mb-3">@Title</h3>
    <p class="text-gray-300 mb-5 flex-grow">@Description</p>
    <div class="flex flex-col sm:flex-row justify-between items-center mt-auto gap-3">
      <span class="text-xl font-bold text-yellow-400 mb-2 sm:mb-0">A partir de @Price</span>
      <a
        href="@DetailsUrl"
        class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded transition duration-300 w-full sm:w-auto text-center"
        >Ver detalhes</a>
    </div>
  </div>
</div>
